@model Order2Go.Models.Producto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h5 class="text-center"><strong>Crear Producto Inventario</strong></h5>
            </div>
        </div>
        <div class="card-body">

            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Cantidad" class="control-label"></label>
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="UrlImagen" class="control-label"></label>
                        <input type="file" asp-for="UrlImagen"  name="Archivos" id="subidaArchivo" class="form-control" />
                        <span asp-validation-for="UrlImagen" class="text-danger"></span>
                    </div>
                </div>
               

                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="far fa-file"></i> Crear Producto</button>
                </div>
                <div class="text-center">
                    <a asp-action="Index">Regresar al Inventario</a>
                </div>

            </form>

        </div>

    </div>

</div>

