@model LoginViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager


<h1 class="text-info text-center">Ingreso Seguro</h1>
<h4 class="text-center">Ingresar con cuenta Existente</h4>
<hr />
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 justify-content-center ">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">


            <div asp-validation-summary="All" class="text-danger">

            </div>
            <div class="form-group  ">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-10">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success form-control">Ingresar</button>
                </div>
            </div>
            <p>
                <a asp-action="Register"> Registrar nuevo usuario?</a>
            </p>
            <p>
                <a asp-action="ForgotPassword"> Forgot your passowrd?</a>
            </p>
        </form>
    </div>
    <div class="col-md-1">

    </div>
</div>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}